<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Error Page</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1 class="error-title">Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one symbol!</h1>
    <img src="https://res.cloudinary.com/drqcr6m2n/image/upload/v1737715567/error-image_uakkbo.gif" alt="Scary Error Image" class="error-image">

</body>
</html>