<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <%- include('../partials/nav') %>

    <div class="home-container">
        <img src="/images/stranger-stories-gif.gif" alt="Scary Stories" class="home-gif" />

        <h1 class="home-title">Welcome to  Stranger Stories</h1>
        <h2 class="intro-text">Ready to have your world turned upside down?</h2>

        <a href="/stories" class="allstories-button">Go to All Stories</a>
    </div>

</body>

</html>